{% extends "dashboard/base.html" %}
{% load custom_filters %}

{% block content %}

<div class="nk-block nk-block-lg">
    <div class="card card-bordered">
        <div class="card-inner">
            {% if message %}
            <div class="alert alert-fill alert-success alert-icon">
                <em class="icon ni ni-check-circle"></em> <strong>Done</strong>, {{ message }}
            </div>
            {% endif %}
            {% if error %}
            <div class="alert alert-fill alert-danger alert-icon">
                <em class="icon ni ni-cross-circle"></em> <strong>Error</strong>, {{ error}}
            </div>
            {% endif %}
            <form action="#" method="post" class="form-validate is-alter">
                {% csrf_token %}
                <div class="row g-gs">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="fva-semester">Semester</label>
                            <div class="form-control-wrap ">
                                <select class="form-control form-select" id="fva-semester" name="fva-semester"
                                        data-placeholder="Select a Semester" required>
                                    <option label="empty" value=""></option>
                                    {% for s in semesters %}
                                    <option value="{{ s.id }}"> Sem {{ s.sem_num }} {{ s.get_sem_year_display }} {{ s.department.short }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="fva-class">Class</label>
                            <div class="form-control-wrap ">
                                <select class="form-control form-select" id="fva-class" name="fva-class"
                                        data-placeholder="Select a Class" required>
                                    <option label="empty" value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" id="batch_id">
                        <div class="form-group">
                            <label class="form-label" for="fva-sel-batch">Select Practical Batch</label>
                            <div class="form-control-wrap">
                                <select class="form-control form-select" id="fva-sel-batch" name="sel_batch"
                                        data-placeholder="Select a batch" required>
                                    <option label="empty" value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary">Search Defaulter</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- .nk-block -->
<br>

<div class="nk-block nk-block-lg">
    <div class="card card-preview">
        <div class="card-inner">
            <div class="nk-block-head-content">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="nk-block-title">{% if attendance_records %} Attendance Of Selected Class {% else %}
                            Search to display Attendance {% endif %} </h4>
                    </div>
                    <div class="col-md-4 text-right">
                        <button type="submit" id="downloadexcel" class="btn btn-lg btn-primary">Export Excel</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="table-responsive">
                <div style="overflow-x: auto; overflow-y: auto; max-height: 600px;">
                    <div class="table-responsive">
                        {% if attendance_records %}
                        <table id="example-table" class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 50px;">Roll No</th>
                                <th style="width: 240px;">Name</th>
                                {% for subject, total in subjects %}

                                <th style="width: 100px;">{{ subject.subject_code }}({{ total }})</th>

                                {% endfor %}

                                <th style="width: 100px;">Other({{ total_other }})</th>

                                <th style="width: 100px;">Attendance</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for student, records, final_at in attendance_records %}
                            <tr {% if final_at < 75 %} style="background-color: pink;" {% endif %}>
                                <td>{{ student.roll_no }}</td>
                                <td>{{ student.first_name }} {% if student.middle_name == "nan" %} {% else %} {{ student.middle_name }} {% endif %} {{ student.last_name }}
                                </td>
                                {% for record in records %}
                                {% if record.0 != 'N/A' %}
                                <td>
                                    {{ record.0 }}
                                </td>
                                {% else %}
                                <td>
                                    0
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <script>
                            document.getElementById('downloadexcel').addEventListener('click', function(){
                                var table2excel = new Table2Excel();
                                table2excel.export(document.querySelectorAll("#example-table"));
                            });

                        </script>
                        {% else %}
                        <p>No Attendance Data Available</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        // When the semester select box changes
        $('#fva-semester').on('change', function() {
            // Get the selected semester ID
            var semId = $(this).val();

            // Check if a semester is selected
            if (semId) {
                // Perform an AJAX request to get the classes
                $.ajax({
                    url: '{% url "get_classes" %}', // Replace with your actual URL name
                    data: {'sem_id': semId},
                    dataType: 'json',
                    success: function(data) {
                        var classSelect = $('#fva-class');
                        classSelect.empty();
                        classSelect.append('<option value="">Select Class</option>');

                        // Populate the class select box with the retrieved classes
                        $.each(data.classes, function(index, cls) {
                            classSelect.append('<option value="' + cls.id + '">' + cls.name + '</option>');
                        });
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.error('Error: ' + errorThrown);
                        // Handle the error here if needed
                    }
                });
            } else {
                // If no semester is selected, clear the class select box
                $('#fva-class').empty();
            }
        });
    });

</script>

<script>
    $(document).ready(function() {
        $('#fva-class').on('change', function() {
            var selectedClassId = $(this).val();

            if (selectedClassId) {
                // Make an AJAX request to fetch batches for the selected class
                $.ajax({
                    url: '{% url "get_batches" %}',  // Replace with your actual URL name
                    data: {'class_id': selectedClassId},
                    dataType: 'json',
                    success: function(data) {
                        var batchSelect = $('#fva-sel-batch');
                        batchSelect.empty();
                        batchSelect.append('<option label="empty" value=""></option>');

                        $.each(data.batches, function(index, batch) {
                            batchSelect.append('<option value="' + batch.id + '">' + batch.batch_name + '</option>');
                        });
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.error('Error: ' + errorThrown);
                    }
                });
            } else {
                // If no class is selected, clear the batch select boxes
                $('#fva-sel-batch').empty();
            }
        });
    });

</script>

{% endblock %}
