

                                    <div class="nk-block nk-block-lg">
                                        <div class="nk-block-head">
                                            <div class="nk-block-head-content">
                                                <h4 class="title nk-block-title">Update subject assignment</h4>
                                                <div class="nk-block-des">
                                                    <p>You can update <code class="code-class">subject assignment</code> with <code class="code-class"></code> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card-bordered">
                                            <div class="card-inner">
                                                <form action="#" class="form-validate is-alter">
                                                    <div class="row g-gs">
                                                       
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="fva-topics">Teacher</label>
                                                                <div class="form-control-wrap ">
                                                                    <select class="form-control form-select" id="fva-teacher" name="teacher" data-placeholder="Select a option" required>
                                                                        <option label="empty" value=""></option>
                                                                        <option value="fva-gq">Select teacher</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="fva-topics">Subject</label>
                                                                <div class="form-control-wrap ">
                                                                    <select class="form-control form-select" id="fva-subject" name="subject" data-placeholder="Select a option" required>
                                                                        <option label="empty" value=""></option>
                                                                        <option value="fva-gq">Select subject</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="fva-topics">Select class</label>
                                                                <div class="form-control-wrap ">
                                                                    <select class="form-control form-select" id="fva-sel-class" name="sel_class" data-placeholder="Select a option" required>
                                                                        <option label="empty" value=""></option>
                                                                        <option value="fva-gq">Select class</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="fva-topics">Select batch</label>
                                                                <div class="form-control-wrap ">
                                                                    <select class="form-control form-select" id="fva-sel-batch" name="sel_batch" data-placeholder="Select a option" required>
                                                                        <option label="empty" value=""></option>
                                                                        <option value="fva-gq">Select batch</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="fva-topics">Select elective</label>
                                                                <div class="form-control-wrap ">
                                                                    <select class="form-control form-select" id="fva-sel-elective" name="sel_elective" data-placeholder="Select a option" required>
                                                                        <option label="empty" value=""></option>
                                                                        <option value="fva-gq">Select elective</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="fva-full-name">Total lectures</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" class="form-control" id="fva-total-lectures" name="total_lectures" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                     
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <button type="submit" class="btn btn-lg btn-primary">Save Informations</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block -->



