{% extends "dashboard/base.html" %} {% block content %}
<div class="nk-block nk-block-lg">
  <div class="card card-bordered">
    <div class="card-inner">
      <form method="POST" class="form-validate is-alter">
        {% csrf_token %}
        <div class="row g-gs">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="fva-subject">Subject</label>
              <div class="form-control-wrap">
                <select
                  class="form-control form-select"
                  id="fva-subject"
                  name="fva-subject"
                  data-placeholder="Select a option"
                  required
                >
                  <option label="empty" value=""></option>
                  {% for s in subjects %}
                  <option
                    value="{{ s.id }}"
                    data-subject-type="{{ s.subject_type }}"
                  >
                    {{ s.subject.get_subject_type_display }} -
                    {{s.subject.subject_name }}
                    ({{s.sel_class.sem.get_sem_year_display}}
                    {{s.sel_class.sem.department.short }} {{ s.sel_class.name }}
                    {{ s.sel_class.sem.academic_year }} ) {% if s.sel_batch %} :
                    Batch {{ s.sel_batch.batch_name }} {% endif %}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="form-label" for="fva-time-slot">Exam Type</label>
              <div class="form-control-wrap">
                <select
                  class="form-control form-select"
                  id="fva-exam-name"
                  name="fva-exam-name"
                  data-placeholder="Select a option"
                  required
                >
                  <option label="empty" value=""></option>
                  <option value="CA1">CA1</option>
                  <option value="MSE">MSE</option>
                  <option value="CA2">CA2</option>
                  <option value="ESE">ESE</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button type="submit" class="btn btn-lg btn-primary">
                Enter Marks
              </button>
            </div>
          </div>
          {% if error %}
          <div class="alert alert-danger alert-icon">
            <span><em class="icon ni ni-cross-circle"></em></span>
            {{ error }}
          </div>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
<!-- .nk-block -->
<br />

<div class="nk-block-head">
  <div class="nk-block-head-content">
    <h4 class="nk-block-title">Recent Attendance</h4>
  </div>
</div>

<div class="card card-preview">
  <div class="card-inner">
    <table
      class="datatable-init nk-tb-list nk-tb-ulist"
      data-auto-responsive="false"
    >
      <thead>
        <tr class="nk-tb-item nk-tb-head">
          <th class="nk-tb-col tb-col-md"><span class="sub-text">No.</span></th>
          <th class="nk-tb-col tb-col-mb">
            <span class="sub-text">Subject</span>
          </th>
          <th class="nk-tb-col tb-col-lg">
            <span class="sub-text">Type</span>
          </th>
          <th class="nk-tb-col tb-col-lg">
            <span class="sub-text">Class</span>
          </th>
          <th class="nk-tb-col tb-col-lg">
            <span class="sub-text">Batch</span>
          </th>
          <th class="nk-tb-col tb-col-lg">
            <span class="sub-text">Elective</span>
          </th>
          <th class="nk-tb-col tb-col-lg">
            <span class="sub-text">Present</span>
          </th>
          <th class="nk-tb-col tb-col-lg">
            <span class="sub-text">Absent</span>
          </th>
          <th class="nk-tb-col nk-tb-col-tools text-right"></th>
        </tr>
      </thead>
      <tbody>
        {% for a in recent_attendance %}
        <tr class="nk-tb-item">
          <td class="nk-tb-col tb-col-md">
            <span>{{ forloop.counter }}</span>
          </td>
          <td class="nk-tb-col">
            <div class="user-card">
              <div class="user-info">
                <span>{{ a.subject.subject_name }}</span
                ><span class="tb-lead"
                  >{{ a.lecture_date }} : {{ a.time_slot }}
                  <span class="dot dot-success d-md-none ml-1"></span
                ></span>
              </div>
            </div>
          </td>
          <td class="nk-tb-col tb-col-lg">
            <span>{{ a.subject.get_subject_type_display }}</span>
          </td>
          <td class="nk-tb-col tb-col-lg">
            <span
              >{{ a.class_field.sem.department.short }}
              {{a.class_field.sem.get_sem_year_display }} {{
              a.class_field.name}}</span
            >
          </td>
          <td class="nk-tb-col tb-col-lg">
            <span>{{ a.batch_field.batch_name }}</span>
          </td>
          <td class="nk-tb-col tb-col-lg">
            <span>{{ a.elective_field.elective_name }}</span>
          </td>
          <td class="nk-tb-col tb-col-lg">
            <span> {{ a.total_present }} </span>
          </td>

          <td class="nk-tb-col tb-col-lg">
            <span> {{ a.total_absent }} </span>
          </td>

          <td class="nk-tb-col nk-tb-col-tools">
            <ul class="nk-tb-actions gx-1">
              <li class="nk-tb-action">
                <a
                  href="{% url 'view_attendance' a.id %}"
                  class="btn btn-trigger btn-icon"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Display"
                >
                  <em class="icon ni ni-eye-alt"></em>
                </a>
              </li>

              <li class="nk-tb-action">
                <!-- Button to trigger the delete modal -->
                <button
                  type="button"
                  class="btn btn-trigger btn-icon"
                  data-toggle="modal"
                  data-target="#confirmDeleteModal{{a.id}}"
                  data-placement="top"
                  title="Delete"
                >
                  <em class="icon ni ni-trash"></em>
                </button>
              </li>
            </ul>
          </td>
          <!-- Modal for confirming delete action -->
          <div
            class="modal fade"
            id="confirmDeleteModal{{a.id}}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="confirmDeleteModalLabel{{a.id}}"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmDeleteModalLabel{{a.id}}">
                    Confirm Deletion
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>
                    Are you sure you want to delete attendance at {{ a.time_slot
                    }} {{ a.subject.get_subject_type_display }} - {{ a }}?
                  </p>
                </div>
                <div class="modal-footer">
                  <!-- Button to cancel deletion -->
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <!-- Button to confirm deletion, you can link it to your delete URL -->
                  <a
                    href="{% url 'delete_lecture' a.id %}"
                    class="btn btn-danger"
                    >Delete</a
                  >
                </div>
              </div>
            </div>
          </div>
        </tr>
        <!-- .nk-tb-item  -->
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- .card-preview -->

{% endblock %} {% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
