{% load static %}
<div class="nk-sidebar" data-content="sidebarMenu">
  <div class="nk-sidebar-bar">
    <div class="nk-apps-brand">
      <a href="{% url 'dashboard' %}" class="logo-link">
        <img
          class="logo-light logo-img"
          src="{% static '/images/logo.png' %}"
          srcset="{% static '/images/logo.png' %}"
          alt="logo"
        />
        <img
          class="logo-dark logo-img"
          src="{% static '/images/logo.png' %}"
          srcset="{% static '/images/logo.png' %}"
          alt="logo-dark"
        />
      </a>
    </div>
    <div class="nk-sidebar-element">
      <div class="nk-sidebar-body">
        <div class="nk-sidebar-content" data-simplebar>
          <div class="nk-sidebar-menu">
            <!-- Menu -->
            <ul class="nk-menu apps-menu">
              <li class="nk-menu-item active">
                <a
                  href="#"
                  class="nk-menu-link nk-menu-switch"
                  data-target="navDashboards"
                >
                  <span class="nk-menu-icon"
                    ><em class="icon ni ni-dashboard"></em
                  ></span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a
                  href="#"
                  class="nk-menu-link nk-menu-switch"
                  data-target="navAttendance"
                >
                  <span class="nk-menu-icon"
                    ><em class="icon ni ni-menu-circled"></em
                  ></span>
                </a>
              </li>

              <li class="nk-menu-hr"></li>
              {% if user.is_coordinator == True %}
              <li class="nk-menu-item">
                <a
                  href="#"
                  class="nk-menu-link nk-menu-switch"
                  data-target="navCoordinate"
                >
                  <span class="nk-menu-icon"
                    ><em class="icon ni ni-layers"></em
                  ></span>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="nk-sidebar-footer">
            <ul class="nk-menu nk-menu-md apps-menu">
              <li class="nk-menu-item">
                <a href="#" class="nk-menu-link" title="Settings">
                  <span class="nk-menu-icon"
                    ><em class="icon ni ni-setting"></em
                  ></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="nk-sidebar-profile nk-sidebar-profile-fixed dropdown">
          <a href="#" data-toggle="dropdown" data-offset="50,-50">
            <div class="user-avatar">
              <span><em class="icon ni ni-user-alt-fill"></em></span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-md ml-4">
            <div class="dropdown-inner user-card-wrap d-none d-md-block">
              <div class="user-card">
                <div class="user-avatar">
                  <span><em class="icon ni ni-user-alt-fill"></em></span>
                </div>
                <div class="user-info">
                  <span class="lead-text"
                    >{{ request.user.first_name }} {{ request.user.last_name
                    }}</span
                  >
                  <span class="sub-text text-soft"
                    >{{ request.user.email }}</span
                  >
                </div>
              </div>
            </div>
            <div class="dropdown-inner">
              <ul class="link-list">
                <li>
                  <a href="#"
                    ><em class="icon ni ni-user-alt"></em
                    ><span>View Profile</span></a
                  >
                </li>
                <li>
                  <a href="#"
                    ><em class="icon ni ni-setting-alt"></em
                    ><span>Account Setting</span></a
                  >
                </li>
                <li>
                  <a href="#"
                    ><em class="icon ni ni-activity-alt"></em
                    ><span>Login Activity</span></a
                  >
                </li>
              </ul>
            </div>
            <div class="dropdown-inner">
              <ul class="link-list">
                <li>
                  <a href="{% url 'logout_view' %}"
                    ><em class="icon ni ni-signout"></em
                    ><span>Sign out</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nk-sidebar-main is-light">
    <div class="nk-sidebar-inner" data-simplebar>
      <div class="nk-menu-content menu-active" data-content="navDashboards">
        <h5 class="title">Dashboards</h5>
        <ul class="nk-menu">
          <li class="nk-menu-item">
            <a href="{% url 'dashboard' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-dashboard-fill"></em
              ></span>
              <span class="nk-menu-text">Dashboard</span>
            </a>
          </li>
          <!-- .nk-menu-item -->
        </ul>
        <!-- .nk-menu -->
      </div>

      <div class="nk-menu-content" data-content="navAttendance">
        <h5 class="title">Attendance</h5>
        <ul class="nk-menu">
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-table-view-fill"></em
              ></span>
              <span class="nk-menu-text">Attendance</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="{% url 'take_attendance' %}" class="nk-menu-link"
                  ><span class="nk-menu-text">Take Attendance</span></a
                >
              </li>
              <li class="nk-menu-item">
                <a href="{% url 'upload_attendance' %}" class="nk-menu-link"
                  ><span class="nk-menu-text">Upload Attendance</span></a
                >
              </li>
            </ul>
          </li>

          <li class="nk-menu-item">
            <a href="{% url 'search_by_subject' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-search"></em
              ></span>
              <span class="nk-menu-text">Search Attendance</span>
            </a>
          </li>

          <li class="nk-menu-item">
            <a href="{% url 'class_attendance' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-search"></em
              ></span>
              <span class="nk-menu-text">Class Attendance</span>
            </a>
          </li>

          <li class="nk-menu-item">
            <a href="{% url 'defaulter' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-search"></em
              ></span>
              <span class="nk-menu-text">Search Defaulter</span>
            </a>
          </li>
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-table-view-fill"></em
              ></span>
              <span class="nk-menu-text">Marks</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="{% url 'addmarks' %}" class="nk-menu-link"
                  ><span class="nk-menu-text">Add Marks</span></a
                >
              </li>
              <li class="nk-menu-item">
                <a href="#" class="nk-menu-link"
                  ><span class="nk-menu-text">Display Marks</span></a
                >
              </li>
            </ul>
          </li>
        </ul>
        <!-- .nk-menu -->
      </div>
      <div class="nk-menu-content" data-content="navPages">
        <h5 class="title">Pages</h5>
        <ul class="nk-menu">
          <li class="nk-menu-item">
            <a href="html/_blank.html" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-file-fill"></em
              ></span>
              <span class="nk-menu-text">Blank / Startup</span>
            </a>
          </li>
          <li class="nk-menu-item">
            <a href="html/pages/faqs.html" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-file-fill"></em
              ></span>
              <span class="nk-menu-text">Faqs / Help</span>
            </a>
          </li>
        </ul>
        <!-- .nk-menu -->
      </div>
      <div class="nk-menu-content" data-content="navCoordinate">
        <h5 class="title">Coordinate</h5>
        <ul class="nk-menu">
          <li class="nk-menu-item">
            <a href="{% url 'upload_student_excel' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-property-add"></em
              ></span>
              <span class="nk-menu-text">Upload Student Excel</span>
            </a>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'add_class' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-property-add"></em
              ></span>
              <span class="nk-menu-text">Add Class</span>
            </a>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'add_batch' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-property-add"></em
              ></span>
              <span class="nk-menu-text">Add Batch</span>
            </a>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'add_elective' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-property-add"></em
              ></span>
              <span class="nk-menu-text">Add Elective</span>
            </a>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'add_subject' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-property-add"></em
              ></span>
              <span class="nk-menu-text">Add Subject</span>
            </a>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'assign_subject' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-property-add"></em
              ></span>
              <span class="nk-menu-text">Assign Subject</span>
            </a>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'add_student' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-property-add"></em
              ></span>
              <span class="nk-menu-text">Add Student</span>
            </a>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'add_teacher' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-property-add"></em
              ></span>
              <span class="nk-menu-text">Add Teacher</span>
            </a>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'display_students' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-property-add"></em
              ></span>
              <span class="nk-menu-text">Display Students</span>
            </a>
          </li>
          <li class="nk-menu-item">
            <a href="{% url 'display_subject_type' %}" class="nk-menu-link">
              <span class="nk-menu-icon"
                ><em class="icon ni ni-property-add"></em
              ></span>
              <span class="nk-menu-text">Display Subject by Type</span>
            </a>
          </li>
        </ul>
        <!-- .nk-menu -->
      </div>
    </div>
  </div>
</div>
